.layout-bottom-row .sheet-attributes {
    max-width: 920px;
    margin: 0 auto;
}

.layout-bottom-row .cell--image {
    display: none;
}


.layout-bottom-row .cell--stats {

    align-self: flex-end;
}


.layout-bottom-row .stats-list {

    display: grid !important;

    grid-template-columns:
    repeat(5, minmax(120px, 1fr));

    justify-content: center;

    gap:
        18px 18px;

    max-width: 90%;

    margin:
        auto auto 12px;
}

.layout-bottom-row .stats-list .stat {

    position: relative !important;

    width: 100%;

    min-width: 0;
}





/* backup sheet top

.layout-bottom-row.portrait-dual .sheet-top {

    background:
        none;

    background-image:
        var(--barca-portrait-left),
        var(--barca-portrait-right);

    background-repeat:
        no-repeat,
        no-repeat;

    background-position:

calc(0% + var(--portrait-left-x, 0px))
calc(50% + var(--portrait-left-y, 0px)),

calc(100% + var(--portrait-right-x, 0px))
calc(50% + var(--portrait-right-y, 0px));

background-size:

var(--portrait-left-size, 260px),
var(--portrait-right-size, 260px);

}

*/ 


